<h1>edit article</h1>

<%= form_for @article do |f| %>

  <div class="form-group">
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="button-justified">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to "cancel", article_path(@article), class: "btn btn-default" %>
  </div>
<% end %>
