<% if logged_in? %>
  <%= link_to 'add new article', new_article_path, class: "btn btn-default" %>

<% end %>

<div class="list-group">
<% @articles.each do |article| %>
  <%= link_to article, class: "list-group-item" do %>
    <span class="badge"><%= article.comments.count %></span>
    <h4 class="list-group-item-heading"><%= truncate(article.title, separator: ' ') %></h4>
    <p class="list-group-item-text"><%= truncate(article.body, length: 81, separator: ' ', omission: ' ... (continued)') %></p>

  <% end %>
<% end %>
</div>
