<h3><%= @article.title %></h3>
<p><%= simple_format @article.body %></p><br>

<% if logged_in? %>
  <div class="button-justified">
    <%= link_to 'edit', edit_article_path, class: "btn btn-default" %>
    <%= link_to 'delete', article_path(@article), method: :delete, data: { confirm: "are you sure?" }, class: "btn btn-danger" %>
  </div>

<% end %>

<h4>Show <%= pluralize(@article.comments.count, 'comment') %></h4><br>

<div class="row">
<section>
  <div class="panel panel-default col-sm-6">
    <%= render @article.comments %>
  </div>

<% if logged_in? %>
  <div class="col-sm-6">
    <%= form_for [@article, @article.comments.new], remote: true do |f| %>
      <div class="form-group">
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.text_area :text, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit 'Post Comment', class: "btn btn-default" %>
      </div>
    <% end %>
  </div>

<% end %>
</section>
</div>
