<h3><%= @article.title %></h3>
<p><%= simple_format @article.body %></p>
<p><br></p>

<div class="button-justified">
  <%= link_to 'edit', edit_article_path, class: "btn btn-default" %>
  <%= link_to 'back', articles_path, class: "btn btn-default" %>
  <%= link_to 'delete', article_path(@article), method: :delete, data: { confirm: "are you sure?" }, class: "btn btn-danger" %>
</div>

<h4><%= link_to pluralize(@article.comments.count, 'comment'), "#", id: "comments-link" %></h4>
<p></p>

<section id="comments-section">
<ul id="comment">
  <%= render @article.comments %>
</ul>
<%= form_for [@article, @article.comments.new] do |f| %>
  <div class="form-group">
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :text, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit 'Post Comment', class: "btn btn-default" %>
  </div>
<% end %>
</section>
