<h1>show!</h1>

<p>
  <%= @article.title %><br>
  <%= @article.body %>
</p>

<p class="btn btn-link"><%= link_to 'back', articles_path %></p>
<p class="btn btn-link"><%= link_to 'edit', edit_article_path %></p>


<p>write something</p>

<% @article.comments.each do |comment| %>
  <%= comment.title %>
  <%= simple_format comment.text %>
<% end %>