<%= turbo_stream_from @article %>

<h3><%= @article.title %></h3>
<p><%= simple_format @article.body %></p><br>

<% if logged_in? %>
  <div class="button-justified">
    <%= link_to 'edit', edit_article_path, class: "btn btn-default" %>
    <%= link_to 'delete', article_path(@article), method: :delete, data: { confirm: "are you sure?" }, class: "btn btn-danger" %>
  </div>
<% end %>

<h4>Show <%= pluralize(@article.comments.count, 'comment') %></h4><br>
<%= render "articles/comments", article: @article %>
