<h3><%= @article.title %></h3>
<p><%= @article.body %></p>
<p><br></p>
<div class="button-justified">
  <%= link_to 'edit', edit_article_path, class: "btn btn-default" %>
  <%= link_to 'back', articles_path, class: "btn btn-default" %>
  <%= link_to 'delete', '#', class: "btn btn-danger" %>
</div>

<h4>comments</h4>
<p></p>
<ul>
  <% @article.comments.each do |comment| %>
  <li>
    <%= comment.title %>
    <%= simple_format comment.text %>
  </li>
  <% end %>
</ul>
