<!DOCTYPE html>
<html>
<head>
  <title>Ming Rocks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
</head>
<body>

<div class="container">
  <h1 class="text-center">Hello Ming!</h1>

  <%= content_tag(:div, flash[:notice], class: "alert alert-success", id: "notice") if flash[:notice] %>
  <%= content_tag(:div, flash[:error], class: "alert alert-warning", id: "error") if flash[:error] %>

  <%= yield %>
</div>

</body>
</html>
